@{
    ViewData["Title"] = "About";
}
<h2 class="jumbotron jumbotron-fluid text-center">@ViewData["Title"]</h2>

<div class="text-center">
    <h4 class="lead">Who Am I?</h4>
    <p>I am a self-trained developer who is very passionate about technology and software development. My journey is motivated by passion and determination.
    When I started this path back in 2016, it was through curiosity and a pure desire to embrace the path that I knew would lead to personal satisfaction and fulfillment.
    As long as there are new technologies to learn, I will continue down this path.</p>
    <h4 class="lead">What is IMavTech?</h4>
    <p>This is a personal site/hub for all the things that I will be doing with software development. From code samples, to blogs, to twitter feeds. If you find yourself here,
    I greatly appreciate you taking the time to go through the site. A lot of work goes into this project and it will continue evolve as I continue to evolve as a developer.</p>
</div>
