@model IMavTechWebSite.Models.EmailModel

@{
    ViewData["Title"] = "Home Page";
}

<!-- Contact Modal Start -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-light text-dark">
                <h5 class="modal-title" id="contactModalLabel"><i class="far fa-envelope"></i>  Get in Touch</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Post" asp-controller="Email" method="post">
                    <div class="form-group">
                        <label asp-for="ClientName"></label>
                        <input asp-for="ClientName" class="form-control" placeholder="Enter your name" required />
                    </div>
                    <div class="form-group">
                        <label asp-for="ClientEmailAddress"></label>
                        <input asp-for="ClientEmailAddress" id="ajaxPostTestBox" class="form-control" placeholder="Enter your preferred email address" required />
                        <small class="form-text text-muted">
                            I won't share your email wit
                            h anyone. This is only for an open line of communication between you and I.
                        </small>
                    </div>
                    <div class="form-group">
                        <label asp-for="Subject"></label>
                        <input asp-for="Subject" class="form-control" placeholder="Enter a subject for the message" required />
                    </div>
                    <div class="form-group">
                        <label asp-for="Body" class="align-text-top"></label>
                        <br />
                        <textarea asp-for="Body" class="description" rows="5" placeholder="A short description of what you're looking for" required></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                        <button id="contactModalSendButton" class="btn btn-primary btn-sm">Send Email</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="emailAlert" class="alert alert-success alert-dismissible fade hide fixed-bottom" role="alert">
    Email sent successfully. Be sure to check your spam just in case.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<!-- Contact Modal End -->
<!-- Main Page Start -->
<header>
    <div class="jumbotron text-center shadow mb-5">
        <h1><strong>Bryan Noel</strong></h1>
        <h2><strong>Full Stack .Net Developer</strong></h2>
        <!-- Set Personal Logo as semi-transparent background image -->
        <button id="contactButton" class="btn btn-lg btn-info mt-2" data-toggle="modal" data-target="#contactModal"><i class="fas fa-envelope"></i>  Get in Touch</button>
    </div>
</header>

<main>
    <div class="card pb-3 mb-5 rounded shadow">
        <div class="row">
            <div class="col-md-4">Image Placeholder</div> <!-- Personal photo... hopefully a better one -->
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="lead card-title">A Developer with confidence and expertise</h3>
                    <p class="card-text">I am a developer with knowledge and proficiencies in both the back-end and front-end of application development.</p>
                    <p class="card-text">Being a passionate and driven self-starter, I have picked up a number of technologies relatively quickly with little to no guidance along my journey.</p>
                    <p class="card-text">
                        I strive to be a lifelong learner and there is no better way to continuously learn than to be a developer. New technologies arise on a very frequent basis and you have to be
                        up to date to remain relevant.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="card pb-3 mb-5 rounded shadow">
        <div class="row">
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="lead card-title">A Skillset to Build Modern Applications</h3>
                    <p class="card-text">I am well versed in multiple development stacks as well as being adept in both the front end and back end.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    Microsoft .Net Stack
                    <ul>
                        <li>C#</li>
                        <li>ASP.Net MVC 5 & Core</li>
                        <li>Entity Framework 6 & Core</li>
                    </ul>
                    Web Development Stack
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Javascript & Jquery</li>
                        <li>Bootstrap</li>
                        <li>Angular</li>
                        <li>Typescript</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main Page End -->
<!-- Timeline Start -->
<!-- Timeline End -->
<!-- Social Media Integration as sticky sidebar -->
<!-- Social Media End -->
<!-- Skills Section Start (Bar Graphs) -->
<!-- Skills Section End -->
<!-- Pluralsight Profile Snapshot Start -->
<!-- Pluralsight End -->
<!-- Treehouse Report Card Start (JSON) -->
<!-- Treehouse End -->
<!-- Resume and Call To Action Start -->
<!-- Resume and CTA End -->