@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Bryan Noel</h1>
    <h2>Full Stack .Net Developer</h2>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>A Developer with confidence and expertise</h2>
        <p>I am a developer with knowledge and proficiencies in both the back-end and front-end of application development.</p>
        <p>Being a passionate and driven self-starter, I have picked up a number of technologies relatively quickly with little to no guidance along my journey.</p>
        <p>I strive to be a lifelong learner and there is no better way to continuously learn than to be a developer. New technologies arise on a very frequent basis and you have to be
        up to date to remain relevant.</p>
    </div>
    <div class="col-md-6">
        <h2>A Skillset to Build Modern Applications</h2>
        <p>I am well versed in multiple development stacks as well as being adept in both the front end and back end.</p>
        <div>
            Microsoft .Net Stack
            <ul>
                <li>C#</li>
                <li>ASP.Net MVC 5 & Core</li>
                <li>Entity Framework 6 & Core</li>
            </ul>
            Web Development Stack
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>Javascript & Jquery</li>
                <li>Bootstrap</li>
                <li>Angular</li>
                <li>Typescript</li>
            </ul>
        </div>
    </div>
</div>
